{% extends 'blog/base.html' %}
{% block title %}关于|silvers.xyz{% endblock title %}
{% load staticfiles %}
{% block content %}
		<div class="content-body">
			<div class="container">
				<div class="row">
					<main class="col-md-12">
						<h1 class="page-title">关于我</h1>
						<article class="post">
							<div class="entry-content clearfix">
								<figure class="img-responsive-center">
									<img class="img-responsive" src="{% static 'blog/img/aboutme.JPG' %}" alt="Developer Image">
								</figure>
								<p>在南昌读书即将要毕业的计科人，正在努力学习计算机相关的知识。目前主要使用python语言开发，会一些html、javascript，现在正在学习Django框架，接下来将继续学习Flask框架。一直想有一个自己的博客平台，学了Django之后，利用所学的知识，搭建了这个博客平台，作为一个学习的巩固。以后我将会不时的在这里面写一些自己对生活，工作和计算机方面的感受和启发，同时也将会继续完善这个博客系统，敬请期待</p>
								
								<p>生活：理性海贼粉、没事喜欢游戏和小说以及知乎</p>
								<div class="height-40px"></div>
								<h2 class="title text-center">Social</h2>
								<ul class="social">
								    <li><a href="https://github.com/MrSilvers/" target="_blank">github</a></li>
									<li><a href="https://www.zhihu.com/people/san-du-53/activities" target="_blank">zhihu</a></li>
									<li><a href="https://weibo.com/u/5794633582" target='_blank'>weibo</a></li>
								</ul>
							</div>
						</article>
					</main>
				</div>
			</div>
		</div>
{% endblock content %}		
