<html>
<head>
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<script type="text/javascript">
        {% if goto_page %}   <!-- 自动页面跳转 -->
            $(function(){
                var time = {{goto_time}} / 1000;
                intervalid = window.setInterval(function(){
                    if (time <= 0){
                        clearInterval(intervalid);
                        window.location = '{{goto_url}}';
                    }
                    $('#time_left').text(time);
                    time -= 1;
                },1000);
            });
        {% endif %}
  </script> 
</head>
<body> 
  <div class="container"> 
    <h2>{{message_title|safe}}</h2> 
      <p class="text-center"> {{message|safe}} </p> 
        {% if goto_page %} 
          <p class="text-center"> 
            本页面在 <b><span id="time_left"></span></b>
             秒后自动跳转，若未跳转，请点击<a href="{{goto_url}}">
             此处</a> </p>
        {% endif %} 
 </div>  
</body>
</html>

